// Specific CSS for your home-page
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 150px;
  height: 140px;
}
#homenav {
  // transform:translateY(-20%);
  z-index: 30;
}
#logo {
  width: 30px;
  cursor: pointer;
}
.hire-link {
  display: block;
  color: #262626;
  border-bottom: 1px solid #262626;
  padding-bottom: 4px;
  text-decoration:none;
  &:hover {
    color: #ff3829;
    text-decoration:none;
    border-bottom: 2px solid #ff3829;
  }
}
.hire-link-mb {
  display: block;
  width: 100%;
  padding-top: 30px;
}
.hire-link-mb__content {
  color: #262626;
  border-bottom: 1px solid #262626;
  padding-bottom: 4px;
  text-decoration:none;
  transition: all 0.3s;
  &:hover {
    color: #ff3829;
    text-decoration:none;
    border-bottom: 1px solid #ff3829;
    transition: all 0.3s;
  }
}
.active {
  opacity: 1 !important;
  transition:all 0.6s;
  transform:translateY(0%) scale(1) !important;
}
.intro {
  margin-bottom: 20px;
}
.intro-description {;
  font-weight: 700;
  max-width: 1200px;
}
#home {
  width: 100%;
  min-height: 500px;
  height: 88vh;
  display: flex;
  // align-items: center;
  justify-content: center;
  // transition: opacity .35s
  // transition-delay: .5s;
}
#home>.container {
  max-width: 1100px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1400px) {
  #home>.container {
    padding: 6vh 150px;
  }
}
@media screen and (max-width: 1280px) {
  #home>.container {
    padding: 60px;
  }
  nav {
    padding: 60px;
  }
  #home>.container img {
    width: auto;
    height: 500px;
  }
}
@media (max-width: 1200px) and (orientation: landscape) {
  #home .container {
    padding: 0 40px 30px 60px;
  }
}
@media screen and (max-width: 768px) {
  #home {
    height: 85vh;
  }
  #home>.container {
    padding: 40px 60px 60px;
  }
  #home>.container img {
    width: auto;
    height: 450px;
  }
  nav {
    height: 100px;
  }
}
@media screen and (max-width: 560px) {
  #home>.container {
    padding: 30px 30px 20px;
    bottom: 0px;
  }
  nav {
    padding: 70px 30px;
  }
  #home>.container img {
    width: 140px;
    height: auto;
    margin: auto;
  }
  .hire-link-mb {
    display: block;
  }
  .hire-link {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  #home>.container {
    padding: 30px 30px 90px;
  }
  #home>.container img {
    width: 100px;
    height: auto;
  }
}
@media (orientation: landscape) and (max-height: 650px) {
  nav {
    padding: 45px;
  }
  #home {
    min-height: 550px;
    height: 85vh;
  }
  #home .container {
    padding: 0 40px 30px 80px;
  }
  #home>.container img {
    width: 300px;
    height: auto;
  }
}



