// Specific CSS for your home-page
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  height: 140px;
}
#homenav {
  opacity: 0;
  transform:translateY(-20%);
  z-index: 30;
}
#logo {
  width: 30px;
  cursor: pointer;
}
.hire-link {
  display: block;
  color: #ff3829;
  border-bottom: 1px solid #ff3829;
  padding-bottom: 4px;
  text-decoration:none;
  &:hover {
    color: #ff3829;
    text-decoration:none;
    border-bottom: 2px solid #ff3829;
  }
}
.hire-link-mb {
  display: none;
  width: 100%;
  padding-top: 50px;
}
.hire-link-mb__content {
  color: #ff3829;
  border-bottom: 1px solid #ff3829;
  padding-bottom: 4px;
  text-decoration:none;
  &:hover {
    color: #ff3829;
    text-decoration:none;
  }
}
.active {
  opacity: 1 !important;
  transition:all 0.6s;
  transform:translateY(0%) scale(1) !important;
}
#home {
  width: 100%;
  min-height: 450px;
  height: calc(85vh - 140px);
  opacity: 0;
  // transition: opacity .35s
  transition-delay: .5s;
}
#home>.container {
  width: 100%;
  padding: 150px;
  position: absolute;
  left: 0;
  bottom: 100px;
  box-sizing: border-box;
}
#home>.container h1 {
  position: relative;
  top: 21px;
}
@media screen and (max-width: 1400px) {
  #home>.container {
    padding: 6vh 150px;
  }
}
@media screen and (max-width: 1280px) {
  #home>.container {
    padding: 60px;
  }
  nav {
    padding: 60px;
  }
  #home>.container img {
    width: 170px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  #home {
    min-height: calc(85vh - 100px);
  }
  #home>.container {
    padding: 40px 60px 60px;
  }
  #home>.container img {
    width: 140px;
    height: auto;
  }
  nav {
    height: 100px;
  }
}
@media screen and (max-width: 560px) {
  #home>.container {
    padding: 30px 30px 100px;
    bottom: 0px;
  }
  nav {
    padding: 30px;
  }
  #home>.container img {
    width: 140px;
    height: auto;
    margin: auto;
  }
  .hire-link-mb {
    display: block;
  }
  .hire-link {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  #home>.container {
    padding: 30px 30px 90px;
  }
  #home>.container img {
    width: 100px;
    height: auto;
  }
}
@media (max-height: 650px) and (orientation: landscape) {
  nav {
    padding: 45px;
  }
  #home {
    min-height: 300px;
  }
  #home .container {
    padding: 0 40px 30px;
  }
  #home>.container img {
    width: 300px;
    height: auto;
  }
}

