#work {
  padding: 180px 0;
  background: rgb(242,242,242);
  background-size: cover;
  transform:translateY(20%);
  transition-delay: .5s;
}
#work-product-manual {
  padding: 165px 0 180px;
  background: #2D2B4E;
  background-image: url(form.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform:translateY(20%);
  transition-delay: .5s;
  color: #FFF;
  a {
    color: #FFF;
  }
}
#work-product-manual .button {
  border: 2px solid #7A7A7A;
  &:hover {
    border: 2px solid #FFF;
  }
}
#work-calypso {
  img {
    position: relative;
    margin: auto;
    display: block;
    width: 330px;
    filter: drop-shadow(0px 7px 3px #999);
    margin-bottom: 100px;
  }
}
#product-manual {
  img {
    position: relative;
    margin: auto;
    display: block;
    width: 70%;
    margin-bottom: 100px;
  }
}
#pm-mobile {
  display: none;
}
// #work-phone {
//   opacity: 0;
//   transform:translateY(20%) scale(0.95);
// }
.button-container {
  text-align: center;
  display: block;
  margin-top: 60px;
}

.button {
  background-color: transparent;
  font-weight: bolder;
  border: 2px solid #bfbfbf;
  padding: 15px 30px;
  margin: 60px auto 0;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    border: 2px solid #000;
  }
}
.button a {
  text-decoration: none;
  color: #262626;
  &:hover {
    text-decoration: none;
    color: #262626;
  }
}

@media screen and (max-width: 1280px) {
   #work-calypso img {
    width: 30%;
  }
}
@media screen and (max-width: 1024px) {
   #work-calypso img {
    width: 40%;
  }
}
@media screen and (max-width: 990px) {
  #work-calypso img {
    width: 45%;
  }
}
@media screen and (max-width: 768px) {
  #work {
    padding: 100px 0;
    img {
      margin-bottom: 50px;
    }
  }
  #work-product-manual {
    padding: 100px 0;
    img {
      margin-bottom: 50px;
    }
  }
  #product-manual img {
    width: 85%;
  }
  #work-calypso img {
    width: 50%;
  }
}
@media screen and (max-width: 560px) {
  #work-calypso img {
    width: 55%;
  }
  #product-manual img {
    width: 80%;
  }
  #pm-mobile {
    display: block;
  }
  #pm-desktop {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  #work-calypso img {
    width: 60%;
  }
}
