<div id="home">
  <div class="container">
    <%#= image_tag "logo3.jpg" %>
    <h1>Hello, I am Lucas Raert -<br>
    A product designer based in Paris.</h1>
  </div>
</div>


<% content_for(:after_js) do %>
<script src="home.js"></script>
<% end %>
