<div id="home">
  <div class="container">
    <%#= image_tag "logo3.jpg" %>
    <h1>Hello, I am Lucas Raert -<br>
    A product designer based in Paris.</h1>
  </div>
</div>


<% content_for(:after_js) do %>
<script src="navbar.js"></script>
<script type="text/javascript">
  $(window).on("load", function(){
  // Handler when all assets (including images) are loaded
  const headerHome = document.getElementById('home');
  headerHome.classList.add('active');
});
</script>
<% end %>
