<div id="work">
    <div class="block-text center-content u-margin" id="work-calypso">
      <%= image_tag "workcalypso.png", id:"work-phone"%>
      <h1>Calypso</h1>
      <h3>Turn everyone into surf travel agents</h3>
      <div class="button-container">
        <a href="/calypso" class="button">
            Case study
        </a>
      </div>
    </div>
</div>

<% content_for(:after_js) do %>
<script src="work.js"></script>
<% end %>
