<div id="work">
    <div class="block-text center-content u-margin" id="work-calypso">
      <%= image_tag "workcalypso.png", id:"work-phone"%>
      <h1>Calypso</h1>
      <h3>Turn everyone into surf travel agents</h3>
      <div class="button-container">
        <a href="/calypso" class="button">
            Case study
        </a>
      </div>
    </div>
</div>

<% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.menu').hide();
     $('#work-phone').hide().show( "drop", { direction: "down"}, 400 );
    $('.mockup').hide().show( "drop", { direction: "down"}, 500 );
  });

  function openNav() {
    $('.menu').toggle( "drop", { direction: "right"}, 250 );
    $('#calypso').toggleClass('opacity-low');
    $('.ui-menu__line_1').toggleClass('ui-menu__line_1_opened');
    $('.ui-menu__line_3').toggleClass('ui-menu__line_3_opened');
    $('.ui-menu__line_2').toggle();
    $("body").toggleClass('no-scroll');
  };
</script>
<% end %>
