/* Main navbar */
.navbar {
  transition: all 0.3s ease;
  max-height: 100px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 10px;
  margin: 0 10px;
}


.ui-menu {
  position: fixed;
  top: 19px;
  right: 15px;
  padding: 30px;
  cursor: pointer;
  z-index: 20;
  transition: opacity .35s;
  transform: translateZ(0);
  display: block;
}

.ui-menu__content {
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
}

.ui-menu__line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  background: #000;
  transform: translateY(0) translateZ(0);
}

.background-black {
  background: #000 !important;
}

.ui-menu__line_1 {
  top: 0;
  transition: all .2s;
}

.ui-menu__line_2 {
  top: 8px;
  transition: all .2s;

}

.ui-menu__line_3 {
  top: 16px;
  transition: all .2s;
}

.opacity-low {
  opacity: 0.2;
  transition: 1s;
}

.menu {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  z-index: 15;
  width: 300px;
  border-left: 1px solid #e3e3e3;
  background: #fff;
  transform-style: flat;
}

.no-scroll {
  overflow: hidden;
}

.menu__content {
  position: absolute;
  box-sizing: border-box;
  top: 54px;
  bottom: 54px;
  right: 35px;
  left: 35px;
}

.ui-menu__line_3_opened {
  transform: translateY(-8px) rotate(45deg);
}

.ui-menu__line_1_opened {
  transform: translateY(8px) rotate(-45deg);
}

.menu__primary{
  margin: 100px 0 43px 40px;
}

.menu__primary__item {
  margin-bottom: 13px;
}
.menu__primary__item a {
  font-size: 25px;
}

.menu__secondary {
  margin: 80px 0 43px 40px;
}

.menu__secondary__item {
  margin-bottom: 13px;
}

.menu__secondary__item a {
  font-size: 16px;
  color: #999;
}

@media screen and (max-width: 768px) {
  .menu {
    display: block;
    width: 100% !important;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #FFF;
    opacity: 1;
  }
}

// @media screen and (min-width: 768px) {
//   .menu {
//     display:none;
//   }
// }

// @media screen and (max-width: 990px) {
//   .ui-menu {
//     display: block !important;
//   }
//   .navbar {
//     display: none !important;
//   }

// }
